openapi: 3.0.0
info:
  description: "# Introduction \n  \n  Equifax’s Consumer Credit Report is the leading\
    \ consumer credit resource enabling lenders to make faster, more informed credit-granting\
    \ decisions, better manage their risk and maximize growth opportunities. The Consumer\
    \ Credit Report unites the power of superior consumer dfata with best-in-class\
    \ search and match logic capabilities to deliver higher match rates on more inquiries.\n\
    \  \n# Getting Started\n\n1. **<a href=\"/user/applications\" target=\"_blank\"\
    >Create</a>** an application\n\n2. **<a href=\"/user/applications\" target=\"\
    _blank\">Subscribe</a>** to Consumer Credit Report API\n\n3. **<a href=\"/products/consumer-credit-report\"\
    \ target=\"_blank\">Explore</a>** the Sandbox environment\nmode\n# Promoting to\
    \ UAT\n\nTo successfully submit test transactions through your application in\
    \ the UAT environment, a test member number is required.  You may use your existing\
    \ Equifax test member number(s).  Please contact your Equifax Account Representative\
    \ if a new test member number is needed. The steps below can be used to test in\
    \ the UAT environment.\n\nTransactions generated using a test member number do\
    \ not return identical results as a sandbox transaction.  A sandbox transaction\
    \ will reflect everything that is exposed in the API whereas a test member number\
    \ is configured to align with the specifications of your contract. Please contact\
    \ us to ensure your test member number is configured to your expectations.   \
    \ \n\n1. **<a href=\"/user/applications\" target=\"_blank\">Promote</a>** application\
    \ to test\n\n2. **<a href=\"/documentation\" target=\"_blank\">Update</a>** requests\
    \ details for UAT\n\n3. **<a href=\"/documentation\" target=\"_blank\">Test</a>**\
    \ scenarios in UAT environment\n\n\n# For More Details\n\n  * **<a href=\"/contact\"\
    \ target=\"_blank\">Contact Us</a>** - Equifax Developer Center Support Website\n\
    \  * **ACRO Migration Support**\n      * phone: 1-888-407-0359; Option 2 followed\
    \ by Option 5  \n      * email:  BT.Acro.tech@equifax.com\n      \n"
  title: Consumer Credit Report
  version: 1.0.0
servers:
- description: SANDBOX URL
  url: https://api.sandbox.equifax.com/business/consumer-credit/v1/
paths:
  /reports/credit-report:
    post:
      operationId: requestConsumerCreditReport
      requestBody:
        content:
          application/json:
            examples:
              request:
                $ref: '#/components/examples/CreditReportRequest'
            schema:
              $ref: '#/components/schemas/CreditReportRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  $ref: '#/components/examples/CreditReportResponse'
              schema:
                $ref: '#/components/schemas/CreditReportResponse'
          description: OK
        "400":
          content:
            application/json:
              examples:
                "400.01":
                  $ref: '#/components/examples/400.01'
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                "401.03":
                  $ref: '#/components/examples/401.03'
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                "403.01":
                  $ref: '#/components/examples/403.01'
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                "404.01":
                  $ref: '#/components/examples/404.01'
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
          description: Not Found
        "415":
          content:
            application/json:
              examples:
                "415.01":
                  $ref: '#/components/examples/415.01'
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              examples:
                "500.01":
                  $ref: '#/components/examples/500.01'
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
          description: Internal Server Error
        "501":
          content:
            application/json:
              examples:
                "501.01":
                  $ref: '#/components/examples/501.01'
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
          description: Not-implemented
        "503":
          content:
            application/json:
              examples:
                "503.01":
                  $ref: '#/components/examples/503.01'
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
          description: Service Unavailable
        "504":
          content:
            application/json:
              examples:
                "504.01":
                  $ref: '#/components/examples/504.01'
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
          description: Gateway timeout
      security:
      - OAuth 2.0:
        - 'scopes: https://api.equifax.com/business/consumer-credit/v1'
      tags:
      - Consumer Credit Report
  /reports/credit-report/{pdf-request-id}:
    get:
      parameters:
      - explode: false
        in: path
        name: pdf-request-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/pdf:
              schema:
                format: binary
                type: string
          description: OK
        "400":
          content:
            application/json:
              examples:
                "400.01":
                  $ref: '#/components/examples/400.01'
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              examples:
                "401.03":
                  $ref: '#/components/examples/401.03'
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                "403.01":
                  $ref: '#/components/examples/403.01'
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                "404.01":
                  $ref: '#/components/examples/404.01'
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
          description: Not Found
        "415":
          content:
            application/json:
              examples:
                "415.01":
                  $ref: '#/components/examples/415.01'
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              examples:
                "500.01":
                  $ref: '#/components/examples/500.01'
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
          description: Internal Server Error
        "501":
          content:
            application/json:
              examples:
                "501.01":
                  $ref: '#/components/examples/501.01'
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
          description: Not-implemented
        "503":
          content:
            application/json:
              examples:
                "503.01":
                  $ref: '#/components/examples/503.01'
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
          description: Service Unavailable
        "504":
          content:
            application/json:
              examples:
                "504.01":
                  $ref: '#/components/examples/504.01'
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
          description: Gateway timeout
      security:
      - OAuth 2.0:
        - 'scopes: https://api.equifax.com/business/consumer-credit/v1'
      summary: retrieve PDF referenced in 'links' from a previous POST response
      tags:
      - PDF formatted report
components:
  examples:
    CreditReportRequest:
      value:
        consumers:
          name:
          - identifier: current
            firstName: SHEMICA
            lastName: XXSHJF
            middleName: FAYE
            suffix: X
          socialNum:
          - identifier: current
            number: "666795307"
          dateOfBirth: "04281987"
          addresses:
          - identifier: current
            houseNumber: "7249"
            streetName: PAJJ ZAFW
            streetType: LN
            apartmentNumber: "12"
            city: HUMBLE
            state: TX
            zip: "77396"
          phoneNumbers:
          - identifier: current
            number: "4585856325"
          employments:
            occupation: VELLA
            employerName: XYZ
        customerReferenceIdentifier: JSON
        customerConfiguration:
          equifaxUSConsumerCreditReport:
            memberNumber: 999XX00000
            securityCode: XXX
            codeDescriptionRequired: true
            models:
            - identifier: "02583"
            endUserInformation:
              endUsersName: ALABASTER INC
              permissiblePurposeCode: "01"
            customerCode: BQ81
            multipleReportIndicator: F
            ECOAInquiryType: Individual
            optionalFeatureCode:
            - X
            pdfComboIndicator: "Y"
            vendorIdentificationCode: FI
    CreditReportResponse:
      value:
        status: completed
        consumers:
          equifaxUSConsumerCreditReport:
          - identifier: Individual Report 1
            customerReferenceNumber: JSON
            customerNumber: 999XX00000
            consumerReferralCode: "300"
            multipleReportIndicator: F
            ECOAInquiryType: I
            hitCode:
              code: "1"
              description: Hit
            fileSinceDate: "09012002"
            lastActivityDate: "07072020"
            reportDate: "09092020"
            subjectName:
              firstName: SHEMICA
              lastName: XXSHJF
              middleName: FAYE
            subjectSocialNum: "666795307"
            birthDate: "07281989"
            nameMatchFlags:
              firstNameMatchFlag: "Y"
              lastNameMatchFlag: "Y"
              middleNameMatchFlag: "Y"
            doNotCombineIndicator: C
            addressDiscrepancyIndicator: "N"
            fraudIDScanAlertCodes:
            - code: "8"
              description: UNABLE TO PERFORM TELEPHONE VALIDATION DUE TO INSUFFICIENT
                TELEPHONE INPUT
            - code: L
              description: FRAUD VICTIM ALERT PRESENT IN DATABASE
            fraudVictimIndicator:
              code: V
              description: Fraud Victim Initial Alert
            addresses:
            - addressType: current
              houseNumber: "7249"
              streetName: PAJJ ZAFW
              streetType: LN
              cityName: HUMBLE
              stateAbbreviation: TX
              zipCode: "77396"
              sourceOfAddress:
                code: C
                description: EQUIFAX
              dateFirstReported: "12002018"
              dateLastReported: "07082020"
              addressLine1: 7249 PAJJ ZAFW LN
            - addressType: former
              houseNumber: "3981"
              streetName: OVNYH
              streetType: RD
              cityName: HOUSTON
              stateAbbreviation: TX
              zipCode: "77053"
              sourceOfAddress:
                code: C
                description: EQUIFAX
              dateFirstReported: "12002018"
              dateLastReported: "07102020"
              addressLine1: 3981 OVNYH RD
            - addressType: additional
              houseNumber: "2323"
              streetName: LYVVMQHVS
              streetType: ST
              cityName: HOUSTON
              stateAbbreviation: TX
              zipCode: "77045"
              sourceOfAddress:
                code: C
                description: EQUIFAX
              dateFirstReported: "06002017"
              dateLastReported: "07072020"
              addressLine1: 2323 LYVVMQHVS ST
            - addressType: additional
              houseNumber: "3288"
              streetName: VJC QDISAQU
              streetType: TRL
              cityName: HOUSTON
              stateAbbreviation: TX
              zipCode: "77054"
              sourceOfAddress:
                code: T
                description: AUT**
              dateFirstReported: "05002017"
              dateLastReported: "05042017"
              addressLine1: 3288 VJC QDISAQU TRL
            - addressType: additional
              houseNumber: "42483"
              streetName: RIJJQZAFW
              streetType: LN APT 49
              cityName: HOUSTON
              stateAbbreviation: TX
              zipCode: "77077"
              sourceOfAddress:
                code: C
                description: EQUIFAX
              dateFirstReported: "05002017"
              dateLastReported: "07072020"
              addressLine1: 42483 RIJJQZAFW LN APT 49
            - addressType: additional
              houseNumber: "5887"
              streetName: LFJJIAYF
              streetType: BLVD APT 243
              cityName: HOUSTON
              stateAbbreviation: TX
              zipCode: "77081"
              sourceOfAddress:
                code: T
                description: AUT**
              dateFirstReported: "03002017"
              dateLastReported: "03062017"
              addressLine1: 5887 LFJJIAYF BLVD APT 243
            - addressType: additional
              houseNumber: "3981"
              streetName: HARRISK
              streetType: DR
              cityName: HOUSTON
              stateAbbreviation: TX
              zipCode: "77045"
              sourceOfAddress:
                code: T
                description: AUT**
              dateFirstReported: "02002017"
              dateLastReported: "605092020"
              addressLine1: 3981 HARRISK DR
            - addressType: additional
              houseNumber: "43349"
              streetName: VYPISCK
              streetType: ST
              cityName: HOUSTON
              stateAbbreviation: TX
              zipCode: "77085"
              sourceOfAddress:
                code: C
                description: EQUIFAX
              dateFirstReported: "02002017"
              dateLastReported: "10062017"
              addressLine1: 43349 VYPISCK ST
            - addressType: additional
              houseNumber: "43118"
              streetName: YVCFV QBNIYF
              streetType: DR
              cityName: HOUSTON
              stateAbbreviation: TX
              zipCode: "77072"
              sourceOfAddress:
                code: C
                description: EQUIFAX
              dateFirstReported: "02002017"
              dateLastReported: "10062017"
              addressLine1: 43118 YVCFV QBNIYF DR
            formerNames:
            - lastName: XXSHJF
              firstName: FAYE
            employments:
            - identifier: current
              occupation: HFIP JFICFY
              employer: IAX
            - identifier: former
              occupation: QFYZAOF QDFOAIJAQH
              employer: IAX
            bankruptcies:
            - customerNumber: 605VF49449
              type: I
              filer: I
              industryCode: VF
              currentIntentOrDispositionCode:
                code: K
                description: DISMSD/CLSD CH13
              dispositionDate: "1018"
              dateFiled: "07212018"
              currentDispositionDate: "10062018"
              dateReported: "10072018"
            - customerNumber: 605VF49449
              type: I
              filer: I
              industryCode: VF
              currentIntentOrDispositionCode:
                code: C
                description: CH-13 FILED
              dispositionDate: "0718"
              dateFiled: "03272018"
              currentDispositionDate: "07212018"
              dateReported: "07222018"
            collections:
            - customerNumber: 683YC02136
              clientNameOrNumber: SPEEDY CASH 67
              statusCode:
                code: D
                description: UNPAID
              narrativeCodes:
              - code: IP
                description: CONSUMER DISPUTES THIS ACCOUNT INFORMATION
              rawNarrativeCodes:
              - IP
              indicator: '*'
              dateReported: "07032020"
              dateAssigned: "03162017"
              originalAmount: 897
              statusDate: "07032020"
              balance: 867
              dateOfFirstDelinquency: "01102017"
              accountDesignatorCode:
                code: I
                description: Individual Account
              creditorClassificationCode:
                code: "12"
                description: FINANCIAL
            - customerNumber: 668YC51199
              clientNameOrNumber: TARA ENERGY
              statusCode:
                code: D
                description: UNPAID
              indicator: '*'
              dateReported: "07112020"
              dateAssigned: "07112020"
              originalAmount: 571
              statusDate: "07112020"
              balance: 571
              dateOfFirstDelinquency: "09282019"
              accountDesignatorCode:
                code: I
                description: Individual Account
              creditorClassificationCode:
                code: "10"
                description: UTILITIES
            alertContacts:
            - alertType:
                code: E
                description: Extended Fraud
              dateReported: "07162020"
              effectiveDate: "07162020"
              telephoneNumbers:
              - telephoneNumberType:
                  code: D
                  description: Daytime
                telephoneNumber: "8325551212"
              - telephoneNumberType:
                  code: E
                  description: Evening
                telephoneNumber: "8325551212"
            trades:
            - customerNumber: 605FP49874
              automatedUpdateIndicator: '*'
              monthsReviewed: "01"
              accountDesignator:
                code: I
                description: Individual Account
              accountNumber: "390"
              customerName: HOUSTON FINANCE
              dateReported: "07082020"
              dateOpened: "07032020"
              highCredit: 213
              balance: 213
              pastDueAmount: 54
              portfolioTypeCode:
                code: I
                description: Instalment (fixed number of payments)
              rate:
                code: 3
                description: Not more than three payments past due
              narrativeCodes:
              - code: EP
                description: FIXED RATE
              rawNarrativeCodes:
              - EP
              accountTypeCode:
                code: "01"
                description: Unsecured
              lastPaymentDate: "07002020"
              scheduledPaymentAmount: 26
              termsDurationCode:
                code: 8M
                description: Months
            - customerNumber: 632FP04018
              automatedUpdateIndicator: '*'
              monthsReviewed: "01"
              accountDesignator:
                code: I
                description: Individual Account
              accountNumber: 000000791Z000
              customerName: WESTERN SHAMROCK
              dateReported: "07282020"
              dateOpened: "06142020"
              highCredit: 190
              balance: 190
              pastDueAmount: 96
              portfolioTypeCode:
                code: I
                description: Instalment (fixed number of payments)
              rate:
                code: 2
                description: Not more than two payments past due
              narrativeCodes:
              - code: EP
                description: FIXED RATE
              - code: JO
                description: NOTE LOAN
              rawNarrativeCodes:
              - EP
              - JO
              accountTypeCode:
                code: "20"
                description: Note Loan
              lastPaymentDate: "06002020"
              scheduledPaymentAmount: 38
              termsFrequencyCode:
                code: M
                description: Monthly (due every month)
              termsDurationCode:
                code: 5M
                description: Months
              paymentHistory1to24:
              - code: "1"
                description: Pays account as agreed
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
            - customerNumber: 447FA02148
              automatedUpdateIndicator: '*'
              monthsReviewed: "05"
              accountDesignator:
                code: I
                description: Individual Account
              accountNumber: 0000222 000
              customerName: STERLING CREDIT CORP
              dateReported: "07282020"
              dateOpened: "06282019"
              highCredit: 20931
              balance: 12513
              portfolioTypeCode:
                code: I
                description: Instalment (fixed number of payments)
              rate:
                code: 1
                description: Pays account as agreed
              narrativeCodes:
              - code: AO
                description: AUTO
              rawNarrativeCodes:
              - AO
              accountTypeCode:
                code: "00"
              lastPaymentDate: "07002020"
              scheduledPaymentAmount: 498
              termsFrequencyCode:
                code: M
                description: Monthly (due every month)
              termsDurationCode:
                code: 42M
                description: Months
              paymentHistory1to24:
              - code: "1"
                description: Pays account as agreed
              - code: "1"
                description: Pays account as agreed
              - code: "1"
                description: Pays account as agreed
              - code: '*'
                description: Rate/Status was not available for that month
              - code: "1"
                description: Pays account as agreed
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              - code: /
              - code: '*'
                description: Rate/Status was not available for that month
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
            - customerNumber: 495BB06908
              automatedUpdateIndicator: '*'
              monthsReviewed: "32"
              accountDesignator:
                code: I
                description: Individual Account
              accountNumber: "71000"
              thirtyDayCounter: 0
              sixtyDayCounter: 0
              ninetyDayCounter: 8
              previousHighRate1: 9
              previousHighDate1: "062020"
              previousHighRate2: 9
              previousHighDate2: "052020"
              previousHighRate3: 9
              previousHighDate3: "042020"
              "24MonthPaymentHistory":
              - code: "9"
                description: Charge-off
              - code: "9"
                description: Charge-off
              - code: "9"
                description: Charge-off
              - code: "9"
                description: Charge-off
              - code: '*'
                description: Rate/Status was not available for that month
              - code: "9"
                description: Charge-off
              - code: '*'
                description: Rate/Status was not available for that month
              - code: "9"
                description: Charge-off
              - code: "9"
                description: Charge-off
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              - code: /
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              customerName: CRESCENT BANK & TRUS
              dateReported: "07012020"
              dateOpened: "05082016"
              highCredit: 16284
              balance: 25631
              pastDueAmount: 25631
              portfolioTypeCode:
                code: I
                description: Instalment (fixed number of payments)
              rate:
                code: 9
                description: Charge-off
              narrativeCodes:
              - code: DB
                description: CHARGED OFF ACCOUNT
              rawNarrativeCodes:
              - DB
              accountTypeCode:
                code: "00"
              lastPaymentDate: "07002017"
              dateMajorDelinquencyFirstReported: "02002018"
              termsDurationCode:
                code: 1M
                description: Months
              originalChargeOffAmount: 16284
              paymentHistory1to24:
              - code: "9"
                description: Charge-off
              - code: "9"
                description: Charge-off
              - code: "9"
                description: Charge-off
              - code: "9"
                description: Charge-off
              - code: "9"
                description: Charge-off
              - code: "9"
                description: Charge-off
              - code: '*'
                description: Rate/Status was not available for that month
              - code: "9"
                description: Charge-off
              - code: '*'
                description: Rate/Status was not available for that month
              - code: "9"
                description: Charge-off
              - code: "9"
                description: Charge-off
              - code: '*'
                description: Rate/Status was not available for that month
              - code: /
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              previousHighRatePaymentHistory: "5"
              previousHighDatePaymentHistory: "112017"
            - customerNumber: 605FP52271
              automatedUpdateIndicator: '*'
              monthsReviewed: "01"
              accountDesignator:
                code: I
                description: Individual Account
              accountNumber: "8879000"
              customerName: 'WORLD FINANCE #473'
              dateReported: "07282020"
              dateOpened: "06142020"
              highCredit: 760
              balance: 760
              pastDueAmount: 315
              portfolioTypeCode:
                code: I
                description: Instalment (fixed number of payments)
              rate:
                code: 2
                description: Not more than two payments past due
              narrativeCodes:
              - code: EE
                description: SECURED
              rawNarrativeCodes:
              - EE
              accountTypeCode:
                code: "02"
                description: Secured
              scheduledPaymentAmount: 95
              termsFrequencyCode:
                code: M
                description: Monthly (due every month)
              termsDurationCode:
                code: 8M
                description: Months
              paymentHistory1to24:
              - code: "1"
                description: Pays account as agreed
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
            - customerNumber: 239FP00278
              automatedUpdateIndicator: '*'
              monthsReviewed: "02"
              accountDesignator:
                code: I
                description: Individual Account
              accountNumber: "215000"
              customerName: RFC 570
              dateReported: "07282020"
              dateOpened: "07282020"
              highCredit: 408
              balance: 403
              portfolioTypeCode:
                code: I
                description: Instalment (fixed number of payments)
              rate:
                code: 1
                description: Pays account as agreed
              narrativeCodes:
              - code: EE
                description: SECURED
              rawNarrativeCodes:
              - EE
              accountTypeCode:
                code: "02"
                description: Secured
              lastPaymentDate: "07002020"
              scheduledPaymentAmount: 68
              termsFrequencyCode:
                code: M
                description: Monthly (due every month)
              termsDurationCode:
                code: 6M
                description: Months
            - customerNumber: 239FP00278
              automatedUpdateIndicator: '*'
              monthsReviewed: "03"
              accountDesignator:
                code: I
                description: Individual Account
              accountNumber: "116000"
              customerName: RFC 570
              dateReported: "07282020"
              dateOpened: "04162020"
              highCredit: 408
              balance: 0
              portfolioTypeCode:
                code: I
                description: Instalment (fixed number of payments)
              rate:
                code: 1
                description: Pays account as agreed
              narrativeCodes:
              - code: FA
                description: CLOSED OR PAID ACCOUNT/ZERO BALANCE
              - code: EE
                description: SECURED
              rawNarrativeCodes:
              - FA
              - EE
              accountTypeCode:
                code: "02"
                description: Secured
              lastPaymentDate: "07002020"
              closedDate: "07002020"
              termsFrequencyCode:
                code: M
                description: Monthly (due every month)
              termsDurationCode:
                code: 6M
                description: Months
              activityDesignatorCode:
                code: B
                description: On behalf of another person
              paymentHistory1to24:
              - code: '*'
                description: Rate/Status was not available for that month
              - code: "1"
                description: Pays account as agreed
              - code: "1"
                description: Pays account as agreed
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
            - customerNumber: 608FP05084
              automatedUpdateIndicator: '*'
              accountDesignator:
                code: I
                description: Individual Account
              accountNumber: "210"
              customerName: FRIENDLY LOANS - HOU
              dateReported: "07282020"
              dateOpened: "07062020"
              highCredit: 195
              balance: 195
              portfolioTypeCode:
                code: I
                description: Instalment (fixed number of payments)
              rate:
                code: 1
                description: Pays account as agreed
              narrativeCodes:
              - code: JO
                description: NOTE LOAN
              rawNarrativeCodes:
              - JO
              accountTypeCode:
                code: "20"
                description: Note Loan
              lastPaymentDate: "07002020"
              scheduledPaymentAmount: 39
              termsFrequencyCode:
                code: M
                description: Monthly (due every month)
              termsDurationCode:
                code: 5M
                description: Months
            - customerNumber: 239FP00203
              automatedUpdateIndicator: '*'
              accountDesignator:
                code: I
                description: Individual Account
              customerName: SUN LOAN 350
              dateReported: "07282020"
              dateOpened: "07062020"
              highCredit: 424
              balance: 424
              portfolioTypeCode:
                code: I
                description: Instalment (fixed number of payments)
              rate:
                code: 1
                description: Pays account as agreed
              narrativeCodes:
              - code: JO
                description: NOTE LOAN
              rawNarrativeCodes:
              - JO
              accountTypeCode:
                code: "20"
                description: Note Loan
              lastPaymentDate: "07002020"
              scheduledPaymentAmount: 53
              termsFrequencyCode:
                code: M
                description: Monthly (due every month)
              termsDurationCode:
                code: 8M
                description: Months
            - customerNumber: 416FP14462
              automatedUpdateIndicator: '*'
              monthsReviewed: "03"
              accountDesignator:
                code: I
                description: Individual Account
              accountNumber: "730"
              customerName: SECURITY FINANCE
              dateReported: "07282020"
              dateOpened: "04162020"
              highCredit: 483
              balance: 345
              pastDueAmount: 79
              portfolioTypeCode:
                code: I
                description: Instalment (fixed number of payments)
              rate:
                code: 2
                description: Not more than two payments past due
              narrativeCodes:
              - code: EX
                description: UNSECURED
              rawNarrativeCodes:
              - EX
              accountTypeCode:
                code: "01"
                description: Unsecured
              lastPaymentDate: "06002020"
              scheduledPaymentAmount: 69
              termsFrequencyCode:
                code: M
                description: Monthly (due every month)
              termsDurationCode:
                code: 7M
                description: Months
              paymentHistory1to24:
              - code: "1"
                description: Pays account as agreed
              - code: "1"
                description: Pays account as agreed
              - code: "1"
                description: Pays account as agreed
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
            - customerNumber: 100FY00140
              automatedUpdateIndicator: '*'
              monthsReviewed: "03"
              accountDesignator:
                code: I
                description: Individual Account
              accountNumber: "27950000"
              customerName: ENHANCED ACQUISITION
              dateReported: "07092020"
              dateOpened: "04282020"
              highCredit: 668
              balance: 668
              pastDueAmount: 668
              portfolioTypeCode:
                code: O
                description: Open Account (entire balance is due upon demand)
              rate:
                code: 6
                description: Collection account (Enhanced Trade Only)
              narrativeCodes:
              - code: CZ
                description: COLLECTION ACCOUNT
              - code: CD
                description: CUSTOMER HAS NOW LOCATED CONSUMER
              rawNarrativeCodes:
              - CZ
              - CD
              accountTypeCode:
                code: 0C
                description: Debt Buyer Account
              dateMajorDelinquencyFirstReported: "05002020"
              purchasedFromOrSoldCreditorIndicator:
                code: O
                description: Original Creditor
              purchasedFromOrSoldCreditorName: ACE CASH EXPRESS INC
              creditorClassificationCode:
                code: "12"
                description: FINANCIAL
            - customerNumber: 682FA10529
              monthsReviewed: "31"
              accountDesignator:
                code: I
                description: Individual Account
              accountNumber: "4120197681000"
              customerName: PEAK ACCEPTANCE/CSC
              dateReported: "07002020"
              dateOpened: "09002017"
              rate:
                code: 7
                description: Included in Chapter 13
              narrativeCodes:
              - code: DO
                description: BANKRUPTCY CHAPTER 13
              rawNarrativeCodes:
              - DO
              accountTypeCode:
                code: "00"
              lastPaymentDate: "05002019"
              dateMajorDelinquencyFirstReported: "01002018"
              termsFrequencyCode:
                code: M
                description: Monthly (due every month)
            - customerNumber: 632FP04018
              automatedUpdateIndicator: '*'
              monthsReviewed: "03"
              accountDesignator:
                code: I
                description: Individual Account
              accountNumber: 000000791Z000
              customerName: WESTERN SHAMROCK
              dateReported: "06282020"
              dateOpened: "03232020"
              highCredit: 190
              balance: 0
              portfolioTypeCode:
                code: I
                description: Instalment (fixed number of payments)
              rate:
                code: 1
                description: Pays account as agreed
              narrativeCodes:
              - code: CE
                description: REFINANCED
              - code: EP
                description: FIXED RATE
              rawNarrativeCodes:
              - CE
              - EP
              accountTypeCode:
                code: "20"
                description: Note Loan
              lastPaymentDate: "06002020"
              closedDate: "06002020"
              termsFrequencyCode:
                code: M
                description: Monthly (due every month)
              termsDurationCode:
                code: 5M
                description: Months
              activityDesignatorCode:
                code: R
              paymentHistory1to24:
              - code: "1"
                description: Pays account as agreed
              - code: "1"
                description: Pays account as agreed
              - code: "1"
                description: Pays account as agreed
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
            - customerNumber: 605FP52271
              automatedUpdateIndicator: '*'
              monthsReviewed: "05"
              accountDesignator:
                code: I
                description: Individual Account
              accountNumber: "8832000"
              customerName: 'WORLD FINANCE #473'
              dateReported: "07282020"
              dateOpened: "02142020"
              highCredit: 760
              balance: 0
              portfolioTypeCode:
                code: I
                description: Instalment (fixed number of payments)
              rate:
                code: 1
                description: Pays account as agreed
              narrativeCodes:
              - code: FA
                description: CLOSED OR PAID ACCOUNT/ZERO BALANCE
              - code: EE
                description: SECURED
              rawNarrativeCodes:
              - FA
              - EE
              accountTypeCode:
                code: "02"
                description: Secured
              lastPaymentDate: "06002020"
              closedDate: "06002020"
              termsFrequencyCode:
                code: M
                description: Monthly (due every month)
              termsDurationCode:
                code: 8M
                description: Months
              activityDesignatorCode:
                code: B
                description: On behalf of another person
              paymentHistory1to24:
              - code: '*'
                description: Rate/Status was not available for that month
              - code: "1"
                description: Pays account as agreed
              - code: "1"
                description: Pays account as agreed
              - code: "1"
                description: Pays account as agreed
              - code: "1"
                description: Pays account as agreed
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
            - customerNumber: 605UG49478
              accountDesignator:
                code: I
                description: Individual Account
              accountNumber: "6630000096379000"
              thirtyDayCounter: 0
              sixtyDayCounter: 0
              ninetyDayCounter: 1
              previousHighRate1: 9
              previousHighDate1: "042020"
              "24MonthPaymentHistory":
              - code: "9"
                description: Charge-off
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              - code: /
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              customerName: CENTERPOINT ENERGY E
              dateReported: "05262020"
              dateOpened: "09222018"
              highCredit: 393
              balance: 425
              pastDueAmount: 425
              portfolioTypeCode:
                code: O
                description: Open Account (entire balance is due upon demand)
              rate:
                code: 9
                description: Charge-off
              narrativeCodes:
              - code: DB
                description: CHARGED OFF ACCOUNT
              rawNarrativeCodes:
              - DB
              accountTypeCode:
                code: "92"
                description: Utility Company
              dateMajorDelinquencyFirstReported: "04002020"
              termsFrequencyCode:
                code: M
                description: Monthly (due every month)
              originalChargeOffAmount: 393
              paymentHistory1to24:
              - code: "9"
                description: Charge-off
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              - code: /
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              - code: '*'
                description: Rate/Status was not available for that month
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
            - customerNumber: 682UE04304
              monthsReviewed: "11"
              accountNumber: "74496474000"
              customerName: TXU ENERGY
              dateReported: "05002020"
              dateOpened: "11002015"
              highCredit: 1547
              balance: 1547
              pastDueAmount: 1547
              rate:
                code: 9
                description: Charge-off
              narrativeCodes:
              - code: DB
                description: CHARGED OFF ACCOUNT
              rawNarrativeCodes:
              - DB
              accountTypeCode:
                code: "92"
                description: Utility Company
              lastPaymentDate: "09002017"
              closedDate: "09002017"
              originalChargeOffAmount: 1547
            - customerNumber: 682UE04304
              accountDesignator:
                code: I
                description: Individual Account
              accountNumber: "74496475000"
              thirtyDayCounter: 0
              sixtyDayCounter: 0
              ninetyDayCounter: 1
              previousHighRate1: 9
              previousHighDate1: 82017.0
              customerName: TXU ENERGY
              dateReported: "05262020"
              dateOpened: "11282015"
              highCredit: 1547
              balance: 1547
              pastDueAmount: 1547
              portfolioTypeCode:
                code: O
                description: Open Account (entire balance is due upon demand)
              rate:
                code: 9
                description: Charge-off
              narrativeCodes:
              - code: DB
                description: CHARGED OFF ACCOUNT
              rawNarrativeCodes:
              - DB
              accountTypeCode:
                code: "92"
                description: Utility Company
              lastPaymentDate: "11002015"
              dateMajorDelinquencyFirstReported: "08002017"
              originalChargeOffAmount: 1547
              previousHighRatePaymentHistory: "9"
              previousHighDatePaymentHistory: "082017"
            - customerNumber: 632FP04018
              automatedUpdateIndicator: '*'
              monthsReviewed: "02"
              accountDesignator:
                code: I
                description: Individual Account
              accountNumber: 000000791Z000
              customerName: WESTERN SHAMROCK
              dateReported: "03282020"
              dateOpened: "01132020"
              highCredit: 195
              balance: 0
              portfolioTypeCode:
                code: I
                description: Instalment (fixed number of payments)
              rate:
                code: 1
                description: Pays account as agreed
              narrativeCodes:
              - code: CE
                description: REFINANCED
              - code: EP
                description: FIXED RATE
              rawNarrativeCodes:
              - CE
              - EP
              accountTypeCode:
                code: "20"
                description: Note Loan
              lastPaymentDate: "03002020"
              closedDate: "03002020"
              termsFrequencyCode:
                code: M
                description: Monthly (due every month)
              termsDurationCode:
                code: 5M
                description: Months
              activityDesignatorCode:
                code: R
              paymentHistory1to24:
              - code: "1"
                description: Pays account as agreed
              - code: "1"
                description: Pays account as agreed
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
            - customerNumber: 605FP52271
              automatedUpdateIndicator: '*'
              monthsReviewed: "05"
              accountDesignator:
                code: I
                description: Individual Account
              accountNumber: "8785000"
              customerName: 'WORLD FINANCE #473'
              dateReported: "03282020"
              dateOpened: "10262019"
              highCredit: 760
              balance: 0
              portfolioTypeCode:
                code: I
                description: Instalment (fixed number of payments)
              rate:
                code: 1
                description: Pays account as agreed
              narrativeCodes:
              - code: FA
                description: CLOSED OR PAID ACCOUNT/ZERO BALANCE
              - code: EE
                description: SECURED
              rawNarrativeCodes:
              - FA
              - EE
              accountTypeCode:
                code: "02"
                description: Secured
              lastPaymentDate: "02002020"
              closedDate: "02002020"
              termsFrequencyCode:
                code: M
                description: Monthly (due every month)
              termsDurationCode:
                code: 8M
                description: Months
              activityDesignatorCode:
                code: B
                description: On behalf of another person
              paymentHistory1to24:
              - code: '*'
                description: Rate/Status was not available for that month
              - code: "1"
                description: Pays account as agreed
              - code: "1"
                description: Pays account as agreed
              - code: "1"
                description: Pays account as agreed
              - code: "1"
                description: Pays account as agreed
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
              - code: ' '
                description: Not populated based on the Date Open(payment history
                  will only be populated for each of the months that the account has
                  been open)
            - customerNumber: 845FZ00120
              monthsReviewed: "16"
              accountDesignator:
                code: I
                description: Individual Account
              accountNumber: "30304410000"
              customerName: SALLIE MAE
              dateReported: "10062019"
              dateOpened: "04062011"
              highCredit: 1312
              balance: 0
              portfolioTypeCode:
                code: I
                description: Instalment (fixed number of payments)
              rate:
                code: 1
                description: Pays account as agreed
              narrativeCodes:
              - code: BC
                description: ACCOUNT TRANSFERRED OR SOLD
              rawNarrativeCodes:
              - BC
              accountTypeCode:
                code: "12"
                description: Education Loan
              closedDate: "03002013"
              actualPaymentAmount: 0
              scheduledPaymentAmount: 0
              termsFrequencyCode:
                code: M
                description: Monthly (due every month)
              termsDurationCode:
                code: 13M
                description: Months
              activityDesignatorCode:
                code: T
                description: Terminated
            inquiries:
            - type: inquiry
              industryCode: AN
              inquiryDate: "07282020"
              customerNumber: 990AN88973
              customerName: TMPCKCADIL
            - type: inquiry
              industryCode: FA
              inquiryDate: "07282020"
              customerNumber: 682FA10627
              customerName: GMFNANCIAL
            - type: inquiry
[...]
